<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Employee Management Management</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/10008/10008118.png"
        type="image/x-png">
</head>
<div class="container">

  <div class="alert alert-danger" role="alert" th:if="${param.error}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
      <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
      <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
    </svg>
    Invalid Credentials
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <img class="pt-5" src="https://cdn-icons-png.flaticon.com/512/10008/10008118.png" width="150" height="auto">
  </div>
  <h1 class="pt-5 pb-2 text-center">Welcome to Employee Management System</h1>
  <form class="w-50 m-auto" action="#" th:action="@{/login}" method="post">
    <div class="mb-4">
      <label for="username" class="form-label fs-5">Email</label>
      <input type="text" class="form-control fs-5" id="username" name="username" placeholder="Your email here..." required>
    </div>
    <div class="mb-4">
      <label for="password" class="form-label fs-5">Password</label>
      <input type="password" class="form-control fs-5" id="password" name="password" placeholder="Your password here..." required>
    </div>
    <div class="d-grid">
      <button class="btn btn-primary my-2 py-2 fs-5">Login</button>
    </div>
  </form>
  <div class="bg-light p-3 border w-50 m-auto mt-2">
    <p>2 types of users: <b>Normal</b> and <b>Admin</b></p>
    <p class="fw-bold">Privileges of a Normal Nser</p>
    <ol>
      <li>Able to access Employee Management System</li>
      <li>Able to view and search employees</li>
    </ol>
    <p class="fw-bold">In addition to normal user privileges, Admins are able to:</p>
    <ol>
      <li>Add new employees</li>
      <li>Update employee details</li>
      <li>Remove an employee</li>
    </ol>
    <div class="d-flex justify-content-between">
      <div>
        <p class="fw-bold">Login details for normal user</p>
        <code>
          Email: user@example.com<br>
          Password: user
        </code>
      </div>
      <div>
        <p>Login details for admin user</p>
        <code>
          Email: admin@example.com<br>
          Password: admin
        </code>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</html>